
 @import "bootstrap";
 @import "bootstrap-org";

 @import "_business-casual";

 .col-centered{
float: none;
margin: 0 auto;
}

.navbar-default .navbar-brand {
    color: #cb0000;
}

#mainLogo{
	height: 150px;
}

.sm-llama{
	height: 20px;
}