   <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Contacta
                        <strong>{{app-variables "companyName"}}</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-8">
                    <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3605.2992964111895!2d-57.558826284987184!3d-25.36128378382013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945da954516c0f1b%3A0xaa5a0762227c906c!2sVenezuela%2C+San+Lorenzo!5e0!3m2!1sen!2spy!4v1485631973869" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="col-md-4">
                    <p>Tel:
                        <strong><a href="tel:+021968046">021.968.046</a></strong>
                    </p>
                    <p>Cel:
                        <strong><a href="tel:+595981945097">0981.945.097</a></strong><br>
                        <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="tel:+595981191612">0981.191.612</a></strong>
                    </p>
                    <p>Email:
                        <strong><a href="mailto:info@todocalor.com.py">info@todocalor.com.py</a></strong>
                    </p>
                    <p>Direccion:
                        <strong><br>Venezuela 284 C/san Salvador
                            <br>Bo. Coca Cola | San Lorenzo</strong>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

      {{!--   <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Contact
                        <strong>form</strong>
                    </h2>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, vitae, distinctio, possimus repudiandae cupiditate ipsum excepturi dicta neque eaque voluptates tempora veniam esse earum sapiente optio deleniti consequuntur eos voluptatem.</p>
                    <form role="form">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label>Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Email Address</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-lg-12">
                                <label>Message</label>
                                <textarea class="form-control" rows="6"></textarea>
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="hidden" name="save" value="contact">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> --}}

    </div>
    <!-- /.container -->

{{outlet}}
